@font-face {
  font-family: 'PerfectDOS';
  src: url('assets/fonts/Perfect\ DOS\ VGA\ 437\ Win.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-dark: #01171a;
  --bg-mid: #03303a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: var(--bg-dark);
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font: inherit;
  background: none;
  color: inherit;
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
    rgba(255, 255, 255, 0.03) 0px,
    rgba(255, 255, 255, 0.03) 1px,
    transparent 2px,
    transparent 4px
  );
  opacity: 0.3;
  pointer-events: none;
  z-index: 9999;
}

footer {
  width: 100%;
  text-align: center;
  flex-shrink: 0;
}

.current-year {
  margin: 10px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  margin-top: 20px;
  background-color: var(--bg-mid);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text,
.header-pic {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.header-text {
  flex-direction: column;
  padding: 20px;
  text-align: center;
  font-family: 'PerfectDOS', monospace;
}

.header-text h1 {
  margin: 0;
  font-size: 3.5rem;
}

.header-text p {
  margin: 10px 0 0;
  font-size: 1.5rem;
}

.header-pic img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-links {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0;
  margin: 0;
  margin: 10px 0;
  font-size: 18px;
}

.menu-link {
  cursor: pointer;
}

main {
  flex-grow: 1;
}

h1 {
  font-size: 20px;
  margin: 10px;
}

.project-card {
  margin-bottom: 50px;
}

.project-name {
  margin: 10px;
  font-weight: bold;
}
.project-p {
  margin: 10px;
}
